.home_component {
  display: flex;
  flex-direction: column;
  background-color: #f4f2e9;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 20px;
  overflow: hidden;
}

#splash-nav-bar {
  min-height: 85px;
  display: flex;
  min-width: 100vw;
  align-items: center;
}

#splash-nav-bar-title {
  font-size: 35px;
  padding-left: 25px;
  text-decoration: none;
  color: black;
}

#splash-nav-bar-title-mid {
  font-weight: 600;
}

.top-logo {
  margin-top: 50px;
  height: 100px;
}

.middle-image-streach {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: white;
  min-height: 275px;
  margin-bottom: 50px;
}

.collection-header {
  font-size: 50px;
}


.okay {
  display: flex;
  width: auto;
  flex-direction: row;
  height: 5rem;
  margin-bottom: 300px;
}
.okay .over {
  display: flex;
  width: 100rem;
  overflow: auto;
  height: 20rem;
  justify-content: space-around;
  align-items: center;
}

.over {
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.collection_images {
  height: 80%;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
