.home_component {
  display: flex;
  flex-direction: column;
  background-color: #f4f2e9;
}

.first_part {
  height: 65px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: static;
  border: 0;
  background-position: center;
  background-repeat: repeat-x;
  background-color: #f4f2e9;
  width: 100%;
}

.second_part img {
  z-index: 1;
}

.home_logowe {
  height: 80px;
  /* width: 25rem; */
  width: auto;
  position: relative;
  left: 30rem;
  z-index: 2;
}
.first_part_logo {
  display: flex;
  flex-direction: row;
  position: relative;
  /* left: 30rem; */
  top: 1rem;
}

.home_word {
  position: relative;
  top: 1.5rem;
  font-size: large;
}

.home_reading {
  /* width: 55rem; */
  width: 100%;
  height: 19rem;
  position: relative;
  z-index: -1;
  /* left: 27rem; */
}

/* .okay .image {
  width: 10%;
}
.over {
  display: flex;
  position: relative;
  top: 2rem;
  left: 20rem;
  gap: 20px;
}
.okay .over {
  width: 50%;
  height: 20rem;
  overflow: scroll;
} */

.okay {
  display: flex;
  width: auto;
  flex-direction: row;
  height: 5rem;
}
.okay .over {
  display: flex;
  width: 40rem;
  /* width: auto; */
  position: absolute;
  bottom: 4rem;
  overflow: auto;
  height: 20rem;
  left: 25rem;
  gap: 4rem;
}

.current_stuff {
  position: relative;
  bottom: 18rem;
  /* background-color: red; */
  /* left: rem; */
  /* width: 100%; */
  right: 2rem;
}

.over {
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
