.home_component {
  display: flex;
  flex-direction: column;
  background-color: #f4f2e9;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 20px;
  padding-bottom: 100px;
}

.top-logo {
  margin-top: 50px;
  height: 100px;
}

.middle-image-streach {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection-header {
  font-size: 50px;
}


.okay {
  display: flex;
  width: auto;
  flex-direction: row;
  height: 5rem;
  margin-bottom: 500px;
}
.okay .over {
  display: flex;
  width: 100rem;
  overflow: auto;
  height: 20rem;
  justify-content: space-around;
  align-items: center;
}

.over {
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.collection_images {
  height: 80%;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
