.home_component {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#splash-nav-bar {
  min-height: 85px;
  display: flex;
  min-width: 100vw;
  align-items: center;
  background-color: #f4f2e9;
}

#splash-nav-bar-title {
  font-size: 35px;
  padding-left: 25px;
  text-decoration: none;
  color: black;
}

#splash-nav-bar-title-mid {
  font-weight: 600;
}

.top-logo {
  margin-top: 50px;
  height: 100px;
}

.middle-image-streach {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: white;
  min-height: 275px;
  margin-bottom: 50px;
}

.collection-header {
  font-size: 50px;
}


.okay {
  display: flex;
  width: auto;
  flex-direction: row;
  height: 5rem;
  margin-bottom: 300px;
}
.okay .over {
  display: flex;
  width: 100rem;
  overflow: auto;
  height: 20rem;
  justify-content: space-around;
  align-items: center;
}

.over {
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.collection_images {
  height: 80%;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

#splash-page-text-full-container {
  display: flex;
  gap: 50px;
  align-self: flex-start;
  margin-left: 25px;
  margin-top: 45px;
  margin-bottom: 30px;
}

#splash-page-text-inner {
  display: flex;
  flex-direction: column;
  width: 280px;
  gap: 15px;

}

#splash-page-text-head {
  font-size: 20px;
  font-weight: 600;
}

#splash-page-text-sub {
  font-size: 16px;
  line-height: 1.2;
}

#splash-page-footer-container {
  background-color: #f4f2e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  position: absolute;
  bottom: 0;
}

#splash-footer-developer-container {
  min-width: 100vw;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-around;
}
