.log_component {
  background-color: #f4eed3;
  display: flex;
  flex-direction: column;
  /* box-shadow: 5px 10px; */
  position: relative;
  width: 20rem;
  bottom: 20rem;
  left: 60rem;
  height: 18rem;
}

.login_button_log a {
  text-decoration: none;
  color: white;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}
.signup_button_log a {
  text-decoration: none;
  color: white;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.login_button_log {
  position: relative;
  top: 3rem;
  left: 5rem;
  width: 10rem;
  height: 3rem;
  background-color: #402313;
}
.signup_button_log {
  position: relative;
  top: 3.5rem;
  left: 5rem;
  width: 10rem;
  height: 3rem;
  background-color: #402313;
}

.line {
  width: 15rem;
  height: 1px;
  box-shadow: 5px 10px;
  position: relative;
  top: 4rem;
  left: 2rem;
}
.demo_button {
  display: flex;
  position: relative;
  top: 6rem;
  left: 5rem;
  gap: 10px;
}

.demo_button button {
  text-decoration: none;
  color: white;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  background-color: #402313;
  position: relative;
  top: 2rem;
  right: 8rem;
}

.current_stuff {
  position: relative;
  left: 37rem;
}
