.log_component {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  bottom: 18.5rem;
  left: 60rem;
  height: 350px;
  z-index: 1;
  gap: 15px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  position: absolute;
  padding: 15px;
  left: 70%;
  top: 7%;
}

.log_component_header {
  margin-top: 25px;
  font-size: 22px;
}

.login_button_log  {
  text-decoration: none;
  color: white;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  cursor: pointer;
  width: 10rem;
  height: 3rem;
  background-color: #402313;
}
.signup_button_log {
  text-decoration: none;
  color: white;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  cursor: pointer;
  width: 200px;
  height: 40px;
  background-color: #402313;
  border: none;
  border-radius: 3px;
}

.demo_button {
  text-decoration: none;
  color: white;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  background-color: #402313;
  cursor: pointer;
}

.demo_button_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#login-form-terms {
  font-size: 11px;
  text-align: center;
  max-width: 200px;
  line-height: 1.1;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 25px;
}

#login-form-signin-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#login-form-signin-link {
  color: #00635D;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

#login-form-signin-link:hover {
  text-decoration: underline;
}

#login-form-about-link {
  margin-top: 50px;
  color: #00635D;
  cursor: pointer;
  font-size: 16px;
}
