#book-display-full-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 40px;
    margin-top: 35px;
    padding-bottom: 100px;
}


#single-book-display {
    display: flex;
    gap:20px;
    margin-left: 250px;
    width: 675px;
}

#single-book-cover-art {
    width: 203px;
    height: auto;
}

#single-book-left-display {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#single-book-edit-button {
    width: 203px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #409d69;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 1px 1px 1px grey;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;

}

#single-book-right-display {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 455px;
}

#single-book-book-title {
    width: 100%;
    font-weight: bold;
    font-size: 27px;
    font-family: "Merriweather", "Georgia", serif;
    line-height: 1.25;
}

#single-book-book-author {
    color: #333;
    font-size: 20px;
    font-family: "Merriweather", "Georgia", serif;
    line-height: 150%;
}

#single-book-book-subheading {
    font-style: italic;
    font-family: "Merriweather", "Georgia", serif;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 10px;
}

#single-book-book-description {
    font-size: 18px;
    line-height: 21px;
}


#single-book-expand-description {
    cursor: pointer;
    color: #00635d;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
}

#single-book-expand-description:hover {
    text-decoration: underline;
}

#single-book-book-genres {
    display: flex;
    gap: 10px;

}

#single-book-genre-links {
    text-decoration: none;
    color: #00635d;
    font-weight: bold;
}

#single-book-genre-links:hover {
    text-decoration: underline;
}

#single-book-reviews-display {
    margin-left: 250px;
    width: 675px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#single-book-reviews-header {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: auto;
    height: 24px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    
}

#single-book-create-review-container {
    display: flex;
    gap:10px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}

#single-book-create-review-profile-pic {
    height: 66px;
    width: 50px;
}


#single-book-create-review-profile-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

#single-book-create-review-profile-container > p {
    font-size: 16px;
    font-weight: bold;
    white-space: no-wrap;
    

}

#single-book-create-review-button {
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #333333;
    background-color: #dfdbd4;
    line-height: 1;
    padding: 8px 12px;
}

#single-book-no-reviews {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    
}
